---
import { ExecuteButton } from './Execute'
import { Menu } from './Menu'
import { ShareButton } from './Share'
import { OpenInAppButton } from './Open'
import { ScriptTitle } from './Title'
import { UntrustedModeMobile } from './UntrustedModeMobile'
---

<header class="flex justify-between gap-2 px-1 py-1">
  <div class="flex w-full gap-2 overflow-hidden py-1">
    <Menu client:load />
    <UntrustedModeMobile client:load />
    <ScriptTitle client:load />
  </div>

  <div class="mr-1 flex gap-2 py-1">
    <OpenInAppButton client:load />
    <ShareButton client:only="react" />
    <ExecuteButton client:only="react" />
  </div>
</header>
